<ion-view title="Home" id="page4" style="background-color:#23B844;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NWKYHFPxQcSUf6LHaQpm_logo.png" style="display: block; width: 40%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="home-card22">
      <ion-item class="item-avatar" id="home-list-item5">
        <img src="img/BqCZai57SmOQOSLFv10t_Flickr_-_joncandy_-_Obligatory_Random_Man_Hugging.jpg">
        <h2>secador_fanático_97</h2>
      </ion-item>
      <div class="item item-body" id="home-list-item-container3">
        <div id="home-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Lorem ipsum dolor sit amet, duo id sale dicam volutpat, in sensibus tractatos sed, quas urbanitas expetendis nec ut.</strong>
          </p>
        </div>
      </div>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="home-slider3" style="width:100%;height:200px;">
        <ion-slide-page id="home-slide24" style="background:url(&quot;img/Portugal_x_Alemanha_-_Futebol_masculino_-_OlimpC3ADadas_Rio_2016_282834282568329.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="home-slide25" style="background:url(&quot;img/9k&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="home-slide26" style="background:url(&quot;img/Bohs.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <ion-item class="item-icon-left dark" id="home-list-item6">
        <i class="icon ion-music-note"></i>Meu hino da secação</ion-item>
    </div>
  </ion-content>
</ion-view>