<ion-view title="Inicio" hide-nav-bar="true" nav-transition="none" id="page1" style="background-color:#23B844;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="inicio-heading1" style="color:#4B6B06;font-weight:600;"></h1>
    <div>
      <img src="img/U7RVjqdRTtmPoVhYlsA4_image.png" style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="inicio-heading3" style="color:#3A3F31;font-weight:600;text-align:center;">SFC, o maior portal de secação do Brasil</h3>
    <a ui-sref="login()" id="inicio-button12" style="font-weight:600;border-radius:11111px 11111px 11111px 11111px;" class="button button-balanced button-block">Quero secar!!!</a>
  </ion-content>
</ion-view>