<ion-view title="Login" hide-nav-bar="true" id="page2" style="background-color:#23B844;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/K5YiHwnSCSRppUAyEo5Q_image.png" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="login-heading4" style="color:#024428;">Login</h1>
    <form id="login-form2" class="list">
      <label class="item item-input item-stacked-label" id="login-input3">
        <span class="input-label">Apelido</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="login-input4">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="login-button10" style="border-radius:11111px 11111px 11111px 11111px;" class="button button-balanced button-block">Entrar</button>
    <div id="login-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ainda não tem cadastro?
        <a href="/page3">
          <strong>Cadastre-se!</strong>
        </a>
      </p>
    </div>
  </ion-content>
</ion-view>