<ion-view title="Registro" hide-nav-bar="true" id="page3" style="background-color:#23B844;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="registro-form3" class="list">
      <div>
        <img src="img/K0aq2IFvQYeTWWwqTiQt_image.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="registro-list1">
        <label class="item item-input" id="registro-input5">
          <span class="input-label">Apelido</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registro-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="registro-input7">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="registro-button11" style="font-weight:600;color:#093512;border-radius:11111px 11111px 11111px 11111px;" class="button button-balanced button-block">Registrar</button>
    </form>
  </ion-content>
</ion-view>